In [1]:
import pandas as pd
from pymongo import MongoClient

In [2]:
client = MongoClient('mongodb+srv://uatuser:WnQ9wz4ccWLpjqXB@cluster0.hotvf.mongodb.net/benchmarkeruat')

db = client['benchmarkeruat']

In [3]:
df = pd.DataFrame(list(db.output_sumanth_2.find()))

In [4]:
df.tail()

,_id,plant_code,plant_name,material_number,material_name,uom,date,forecast_quantity,distribution_channel,uid,uuid,run_date,script_runtime
148486,63440a4f0e4f8ea363d653ce,1049,Bangalore_3,WC0000000000130007,GRAPES BANGALORE BLUE,KG,2022-10-14,0.0,52,1049_WC0000000000130007,1049_WC0000000000130007_52,2022-10-10,38.804279
148487,63440a4f0e4f8ea363d653cf,1049,Bangalore_3,WC0000000000130007,GRAPES BANGALORE BLUE,KG,2022-10-15,0.0,52,1049_WC0000000000130007,1049_WC0000000000130007_52,2022-10-10,38.804279
148488,63440a4f0e4f8ea363d653d0,1049,Bangalore_3,WC0000000000130007,GRAPES BANGALORE BLUE,KG,2022-10-16,0.0,52,1049_WC0000000000130007,1049_WC0000000000130007_52,2022-10-10,38.804279
148489,63440a4f0e4f8ea363d653d5,1049,Bangalore_3,WC0000000000150057,BETEL LEAF,EA,2022-10-15,0.0,52,1049_WC0000000000150057,1049_WC0000000000150057_52,2022-10-10,38.804279
148490,63440a4f0e4f8ea363d653d7,1049,Bangalore_3,WC0000000000150057,BETEL LEAF,EA,2022-10-17,0.0,52,1049_WC0000000000150057,1049_WC0000000000150057_52,2022-10-10,38.804279

In [5]:
df.dtypes

_id                             object
plant_code                       int64
plant_name                      object
material_number                 object
material_name                   object
uom                             object
date                    datetime64[ns]
forecast_quantity              float64
distribution_channel             int64
uid                             object
uuid                            object
run_date                datetime64[ns]
script_runtime                 float64
dtype: object

In [6]:
df_2 = df.drop('_id', axis = 1)

In [7]:
df_2.dtypes

plant_code                       int64
plant_name                      object
material_number                 object
material_name                   object
uom                             object
date                    datetime64[ns]
forecast_quantity              float64
distribution_channel             int64
uid                             object
uuid                            object
run_date                datetime64[ns]
script_runtime                 float64
dtype: object

In [9]:
db.output_sumanth.delete_many({})

In [10]:
db.output_sumanth.insert_many(df_2.to_dict('records'))